*{
    margin: 0;
    padding: 0;
    outline: 0;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}

/*============= navbar css ==============*/
.navbar-light .navbar-nav .nav-link{
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}
.navbar-expand-md .navbar-nav .nav-item {
    padding-left: 27px;
    padding-right: 27px;
}
.navbar-expand-md .navbar-nav .nav-link {
    transition: all linear .3s;
    position: relative;
}
.navbar-expand-md .navbar-nav .nav-link:after {
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    background: #fce38a;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all linear .3s;
}
.navbar {
	padding: 25px 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    transition: all linear .3s;
}
.navbar-expand-md .navbar-nav .nav-link:hover {
    color: #fce38a;
}
.navbar-expand-md .navbar-nav .nav-link:hover:after{
    opacity: 1;
    width: 100%;
}
.navbar-expand-md .navbar-nav .nav-link.active{
    color:#fce38a; 
}
.navbar-expand-md .navbar-nav .nav-link.active:after{
    opacity: 1;
    width: 100%;
}
.navbar-expand-md .navbar-nav .nav-link:focus {
    color: #fff;
}
.navbg{
    background:#bf716e;
    animation: bg 1s;
}
@keyframes bg{
    from{top:-100px}
    to{top: 0}
}
/*============= banner css ==============*/
#banner {
    background: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 228px;
    padding-bottom: 243px;
    position: relative;
}
#banner:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(#f38181, #fce38a);
    opacity: 0.9;
}
.banner-text {
    position: relative;
    z-index: 999;
}
.banner-text h3 {
    font-family: 'Kaushan Script';
    font-size: 72px;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
}
.banner-text h1 {
    font-family: 'Montserrat';
    font-size: 150px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 39px;
}
.banner-text h1:after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    background: #fff;
}
.banner-text h5 {
    padding-top: 65px;
}
.banner-text a {
    font-family: 'Montserrat';
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px 30px;
    border: 3px solid #fff;
    transition: all linear .3s;
}
.banner-text a:hover {
    background: #fff;
    color: #444;
    text-decoration: none;
}
/*============= About css ==============*/
#about {
    padding-top: 90px;
    padding-bottom: 110px;
}
.heading {
    padding-bottom: 100px;
}
.heading h4 {
    font-family: 'Kaushan Script';
    font-size: 24px;
    color: #333;
    font-weight: 400;
}
.heading h2 {
    font-family: 'Montserrat';
    font-size: 30px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}
.heading h2:after{
    position: absolute;
    content: '';
    bottom: -41px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    background: #f38181;
}
.heading p {
    font-family: 'Roboto';
    font-size: 15px;
    color: #999;
    font-weight: 400;
    padding: 0 70px;
    padding-top: 75px;
}
.about-item {
    position: relative;
}
.overlay {
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(#f38181, #fce38a);
    opacity: 0;
    transition: all linear .3s;
}
.text {
    position:relative;
    top: 50%;
    transform: translateY(-50%);
}
.text i {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}
.text h3 {
    font-size: 18px;
    font-family: 'Montserrat';
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.about-item:hover .overlay {
    opacity: 0.9;
    width: 100%;
}
/*============= Counter css ==============*/
#counter {
    background:#95e1d3;
    padding-top: 90px;
    padding-bottom: 90px;
}
.counter-item h3 {
    font-size: 72px;
    color: #fff;
    font-weight: 700;
    font-family: 'Montserrat';
}
.counter-item p {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    font-family: 'Montserrat';
    text-transform: uppercase;
}

/*============= service css ==============*/
#service {
    padding-top: 110px;
}
.service-icon i {
    font-size: 32px;
    color: #95e1d3;
}
.service-text h3 {
    font-size: 14px;
    color: #333;
    font-weight: 400;
    font-family: 'Montserrat';
    text-transform: uppercase;
}
.service-text p {
    font-family: 'Roboto';
    font-size: 15px;
    color: #999;
    font-weight: 400;
    padding-top: 3px;
    line-height: 24px;
}
.service-item {
    padding-bottom: 100px;
}
/*============= Feedback css ==============*/
#feedback {
    background: #f8f8f8;
    padding-top: 70px;
    padding-bottom: 70px;
}
.feed-icon i {
    width: 144px;
    height: 144px;
    border: 3px solid #95e1d3;
    text-align: center;
    line-height: 144px;
    font-size: 62px!important;
    color: #95e1d3!important;
}
.feed-text {
    padding-left: 45px;
}
.feed-text p {
    font-family: 'Roboto';
    font-size: 24px;
    color: #999;
    font-weight: 300;
    font-style: italic;
    line-height: 36px;
}
.feed-text h4 {
    font-family: 'Kaushan Script';
    font-size: 24px;
    color: #333;
    padding-left: 70px;
    position: relative;
}
.feed-text h4:after {
    position: absolute;
    content: '';
    width: 60px;
    background: #f38181;
    height:3px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.feed-position {
    position: relative;
}
.feed-position i {
    color: #cfcfcf;
    font-size: 24px;
    cursor: pointer;
}
.feed-position .left {
    position: absolute;
    left: -75px;
    top: 50%;
    transform: translateY(-50%);
}
.feed-position .right {
    position: absolute;
    right: -75px;
    top: 50%;
    transform: translateY(-50%);
}
/*============= Team css ==============*/
#team {
    padding-top: 100px;
}
.team-img {
    position: relative;
}
.team-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#f38181, #fce38a);
    opacity: 0;
    transition: all linear .3s;
}
.team-item:hover .team-overlay {
    opacity: 0.9;
}
.team-overlay i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 56px;
    height: 56px;
    background: #fce38a;
    line-height: 56px;
    color: #f38181;
    font-size: 30px;
    transition: all linear .3s;
}
.team-overlay i:hover {
    background:#f38181;
    color: #fff;
}
.team-info {
    padding-top: 35px;
}
.team-info h3 {
    font-size: 14px;
    color: #333;
    font-weight: 400;
    font-family: 'Montserrat';
    text-transform: uppercase;
}
.team-info p {
    font-family: 'Roboto';
    font-size: 15px;
    color: #999;
    font-weight: 300;
    font-style: italic;
    text-transform: capitalize;
}
/*============= portfolio css ==============*/
#portfolio {
    padding-top: 100px;
}
.port-item {
    position: relative;
}
.port-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#f38181, #fce38a);
    opacity: 0;
    transition: all linear .3s;
}
.port-item:hover .port-overlay {
    opacity: 0.9;
}
.port-text {
    position:relative;
    top: 50%;
    transform: translateY(-50%);
}
.port-text i {
    color: #fff;
    font-size: 14px;
}
.port-text h3 {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    font-family: 'Montserrat';
    text-transform: uppercase;
    padding-top: 20px;
}
.port-text p {
    font-family: 'Roboto';
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    font-style: italic;
}
/*============= Footer css ==============*/
#footer {
    background: #f8f8f8;
    padding-top: 73px;
    margin-top: 100px;
}
.footer-item img {
    padding-bottom: 40px;
}
.footer-item p {
    color: #999;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 24px;
}
.footer-item h6 {
    padding-top: 25px;
    font-size: 15px;
    color: #333;
    font-weight: 400;
    font-family: 'Montserrat';
}
.footer-item h6 span {
    font-weight: 700;
    font-size: 18px;
}
.footer-item h5 {
    color: #999;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    padding-bottom: 32px;
}
.footer-item h5 a {
    color: #95e1d3;
    font-size: 16px;
    margin: 0 9px;
}
.field {
    width: 380px;
    position: relative;
}
.field input {
    width: 100%;
    padding: 14px 13px;
    border: 1px solid #e7e7e7;
}
.field button {
    padding:15px 34px;
    background: #95e1d3;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    top: 0;
}
.footer-item h3 {
    font-size: 15px;
    color: #333;
    font-weight: 400;
    font-family: 'Montserrat';
    text-transform: uppercase;
    padding-bottom: 40px;
}
.blog-info h4 {
    font-size: 12px;
    color: #333;
    font-weight: 400;
    font-family: 'Montserrat';
    text-transform: uppercase;
    padding-top: 12px;
    margin-bottom: 0;
}
.blog-info b {
    color: #999;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 13px;
}
.insta img {
    padding-bottom: 5px;
    padding-right: 5px;
}
.more a {
    color: #999;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
}
.copyright p {
    font-size: 14px;
    color: #333;
    font-weight: 400;
    font-family: 'Montserrat';
}
.copyright p span {
    color:#f38181;
}

/*============= About Page css ==============*/
#about-page .navbar {
	background: #bf716e;
}
#bread {
    margin-top: 90px;
    background: #ddd;
    padding-top: 50px;
    padding-bottom: 50px;
}
.bread-text h3 {
    font-size: 32px;
    color: #444;
    font-family: 'Montserrat';
    text-transform: capitalize;
}
.bread-text a {
    color: #222;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
}
.bread-text span {
    color: #bf716e;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
}
#about-page #footer {
	margin-top: 0;
}
.mission h2 {
    color:#bf716e;
    padding-bottom: 20px;
}
.mission p {
    color: #666;
    line-height: 24px;
}
#mission {
    padding-bottom: 80px;
}

/*============ contact page css ==============*/
#map {
    padding-top: 80px;
    padding-bottom: 80px;
}
#conatct-form {
    padding-bottom: 80px;
}
.address{
    background: #ddd;
    padding: 20px;
}
.address h3 {
    color:#bf716e;
}

.address p {
    margin-bottom: 0
}

/*==========preloader css ==================*/
.preloader {
    background: #ddd;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999999;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


